
#logo 
{
    width: 400px;
    display: block;
    margin: auto;
}

#asac 
{
    color: #2275f9;
    text-align: center;
}

#asacText
{
    text-align: center;
}

#formulaire 
{
    text-align: center;
}