html{
    margin-top: auto;
    margin-left: 0.40%;
    margin-right: 0.40%;

}

#altranLogo{
    width: 160px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 1px;
    border: 2px solid #007EAF;
    border-radius: 10px;
    margin-right: 5px;
}